---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import Socials from '@/components/Socials.astro';
import AboutInfo from '@/components/AboutInfo.astro';
import FeaturedInfo from '@/components/FeaturedInfo.astro';
import Skills from '@/components/SkillsInfo.astro';

import Avatar from '@/assets/images/avatar.webp';
import Profile from '@/assets/images/profile.webp';
import { socialMedia } from '@/data/socials';
---

<Layout title="About">
  <section class="flex h-[100dvh] items-center gap-x-4 px-4">
    <div
      class="border-secondary flex h-[75%] max-h-[500px] flex-col rounded-md border-4 bg-[#733446]"
    >
      <profile-image
        class="group relative max-h-[200px] max-w-[200px] cursor-pointer overflow-hidden"
      >
        <Image
          src={Avatar}
          width={200}
          height={200}
          alt="Az1nDev"
          class="avatar max-h-[200px] object-cover object-top transition-all duration-300 ease-in-out group-hover:opacity-0"
          loading="eager"
        />

        <Image
          src={Profile}
          width={200}
          height={200}
          alt="Az1nDev"
          class="profile absolute inset-0 h-[200px] max-h-[200px] object-cover object-top opacity-0 transition-all duration-300 ease-in-out group-hover:opacity-100"
          loading="eager"
        />
      </profile-image>

      <div class="flex flex-1 flex-col justify-center gap-y-8 px-5 py-3.5">
        {
          socialMedia.map((item) => (
            <Socials name={item.name} url={item.url} icon={item.icon} />
          ))
        }
      </div>
    </div>
    <about-component
      class="flex h-[75%] max-h-[500px] flex-1 flex-col gap-y-2.5"
    >
      <div class="font-primary flex gap-x-1.5">
        <button
          class="leftNav text-primary flex justify-center rounded-md border-2 border-black bg-[#e0e0e0] px-3 py-2"
          >Q</button
        >

        <nav
          class="border-secondary text-text relative flex flex-1 items-center gap-x-4 rounded-md border-4 bg-[#733446]"
        >
          <ul class="about-options relative flex w-full justify-around">
            <li data-option="0" class="selected-option">
              <button>About</button>
            </li>
            <li data-option="1">
              <button>Featured</button>
            </li>
            <li data-option="2">
              <button>Skills</button>
            </li>
          </ul>
        </nav>
        <button
          class="rightNav text-primary flex justify-center rounded-md border-2 border-black bg-[#e0e0e0] px-3 py-2"
          >E</button
        >
      </div>

      <div
        id="aboutInfoContainer"
        class="border-secondary max-h-full flex-1 overflow-y-auto rounded-md border-4 bg-[#733446] p-6"
      >
        <AboutInfo />
        <FeaturedInfo />
        <Skills />
      </div>
    </about-component>
  </section>
</Layout>

<style>
  .about-options {
    position: relative;
  }

  .about-options::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 80%;
    background-color: var(--color-tertiary);
    border-radius: 6px;
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  .about-options[data-selected='0']::before {
    width: calc(100% / 3 - 90px);
    left: 30px;
  }

  .about-options[data-selected='1']::before {
    width: calc(100% / 3 - 100px);
    left: calc(100% / 3 + 35px);
  }

  .about-options[data-selected='2']::before {
    width: calc(100% / 3 - 110px);
    left: calc(100% / 3 * 2 + 60px);
  }

  .about-options li {
    position: relative;
    z-index: 1;
    transition: transform 0.2s ease;
  }

  .about-options li button {
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .selected-option button {
    color: var(--color-primary);
    font-weight: 600;
  }

  .about-options li:not(.selected-option) button {
    color: var(--color-text);
    -webkit-text-stroke: 0.8px #000;
    -webkit-text-fill-color: var(--color-text);
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .selected-option {
    animation: pop 0.3s ease;
  }

  about-component .limited {
    animation: shake 0.3s;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
  }

  :global(.selected-content) {
    display: grid;
  }
</style>

<script>
  import '@/scripts/about.ts';
</script>
